services:
  postgres:
    image: postgres
    container_name: postgres_dev
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: dev_db
    ports:
      - "5432:5432"
    volumes:
      - /mnt/hdd/docker_volumes/pgsql:/var/lib/postgresql
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: 1G

    restart: unless-stopped
